{% extends "base.html" %}

{% block title %}new blog{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 col-12">
        <div class="jumbotron jumbominimal">
            <h2 class="title-margin">share a new blog</h2>
            <form method=post>
                <div class="form-group">
                    {{ form.blog_title(class_="form-control blog-title") }}
                    {% if form.blog_title.errors %}
                    {% for error in form.blog_title.errors %}
                    <p class="form-error">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.blog_text(rows="15", class_="form-control") }}
                    {% if form.blog_text.errors %}
                    {% for error in form.blog_text.errors %}
                    <p class="form-error">{{ error }}</p>
                    {% endfor %}
                    {% endif %}


                </div>
                <button class="btn btn-primary" type="submit">Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}