{% extends "base.html" %}

{% block title %}new blog{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 col-12">
        <div class="jumbotron jumbominimal">
            <h2 class="title-margin">share a new blog</h2>
            <form method="post" class="needs-validation" novalidate>
                <div class="form-group has-warning">
                    <input class="form-control blog-title" type="text" name="title"
                           placeholder="title" required>
                    <div class="invalid-feedback">You should provide a great name for your blog!</div>
                </div>
                <div class="form-group has-warning">
                    <textarea class="form-control blog-text" name="text" placeholder="blog" rows="10" required></textarea>
                    <div class="invalid-feedback">You cannot post a blog, without writing a blog</div>
                </div>
                <button class="btn btn-primary" type="submit" >Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block page_js %}<script src="/pages/blog/new/validate_blog.js"></script>{% endblock %}