{% extends "base.html" %}

{% block title %}{{model}} list{% endblock %}
{% block content %}

        <div class="row">
            <div class="col-12">
                <h2 class="center">{{model}} data stored in db</h2>
            </div>
        </div>
        <div class="row margin-top">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        {% for attribute in attributes %}
                            <th>{{attribute}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {% for row in data%}
                    <tr>
                        {% for attribute in attributes %}
                            <td>{{getattr(row, attribute)}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}
